html {
  background-color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
}
body{
  margin: 0%;
  font-family: "Sawarabi Mincho"; 
}
.header {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    font-weight: bold;
    z-index:1
  }
.header-inner {
    text-align: center;
  }
  @media (max-height:900px) {
  .maintitle {
    /* margin-top: 3%; */
    line-height: 500px;
    background-image:url("../img/main.jpg");
    /* animation: bgiLoop 500s linear infinite; */
    background-size:25%;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  @keyframes bgiLoop {
    0% { background-position: 0 0;}
  100% { background-position: -50000px 50000px;}
}
  .side {
    width: 5%;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  }
  @media (min-height:900px) {
    body{
      font-size: 50px;
    }
    .header-inner img{
      width: 10%;
    }
    .maintitle {
      margin-top: 12%;
      background-image:url("../img/main.jpg");
      background-size:40%;
      font-size: 50px;
      line-height: 100px;
      animation: bgiLoop 500s linear infinite;
    }
    @keyframes bgiLoop {
      0% { background-position: 0 0;}
    100% { background-position: -50000px 0px;}
  }
    .box1{
      margin-left: 5%;
      margin-right: 5%;
      animation:  rotation1 1s ease 0s 1 normal none running;
    }
    @keyframes rotation1 {
      0% {
        transform: scale(1) rotate(0deg);
      }
    50%{
      transform: scale(1) rotate(15deg);
      }
    /* 75%{
      transform: scale(1) rotate(-10deg);
      } */
    100%{
      transform: scale(1) rotate(0deg);
      }
    }
  
  .yohaku{
    line-height: 500px;
    text-align: center;
  }
  }
  .footer {
    padding: 2rem;
    font-size: 15px;
    color: #202020;
    background-color:rgb(255, 255, 255);
    border-top: 1px solid #e5e7eb;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
    }
  
    .md-flex {
      display: flex;
    }
  
    .md-flex li + li {
      margin-left: 16px;
    }
  }
.typing-demo {
  width: 8ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
 
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

