body{
background-color: antiquewhite;
font-family: 'Oswald', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.title{
font-size: 80px;
color: #373737;
}
.subtitle{
    font-family: 'Honk', system-ui;
    font-size: 60px;
}
.header {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    font-weight: bold;
    z-index:1
  }
  
  .header-inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 0.8em;
    font-size: 1.2em;
  }
  .header01-list {
    display: flex;
    align-items: center;
    margin-right: 5%;
    gap: 10px;
  }

  .footer {
    padding: 2rem;
    font-size: 15px;
    color: #636363;
    background-color:antiquewhite;
    border-top: 1px solid #e5e7eb;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
    }
  
    .md-flex {
      display: flex;
    }
  
    .md-flex li + li {
      margin-left: 16px;
    }
  }
.typing-demo {
  width: 8ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
 
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}