html {
  background-color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
}
.header {
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
    font-weight: bold;
    z-index:1
  }
.header-inner {
    text-align: center;
  }
  .maintitle {
    margin-top: 3%;
    line-height: 500px;
    background-image:url("../img/main.jpg");
    background-size:25%;
    height:100%;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: space-between;
  }
  .side {
    width: 5%;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }
  .footer {
    padding: 2rem;
    font-size: 15px;
    color: #202020;
    background-color:rgb(255, 255, 255);
    border-top: 1px solid #e5e7eb;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
    }
  
    .md-flex {
      display: flex;
    }
  
    .md-flex li + li {
      margin-left: 16px;
    }
  }
.typing-demo {
  width: 8ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
 
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

