@media (max-height: 900px) {
.kikaku-margin{
    margin-left: 20%;
    margin-right: 20%;
}}
@media (min-height: 900px) {
.kikaku-margin{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 40px;
}}

.mickiy{
    background-color: rgb(255, 115, 115);
    height: 100vh;
}
.mickiy-font{
    background-color: rgb(255, 255, 146);

}
.kururi{
    background-color: rgb(177, 173, 249);
    height: 100vh;
}
.bunngei{
    background-color: rgb(186, 186, 186); 
    height: 100vh;
}
.kikaku-font1{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    border-radius: 4px;
}
.fusetube{
    background-color: rgb(202, 136, 136);
    height: 100vh;
}
.nosugar{
    background-color: rgb(199, 203, 241);
    height: 100vh;
}
.nosugar-font{
    width: fit-content;
    border-radius: 2px;
    background-color: rgb(225, 226, 238);
}
.yuzuki{
    background-color: #e6cde3;
    height: 100vh;

}
.kosyo{
    background-color: #d8e698;
    height: 100vh;
}