.kikaku-margin{
    margin-left: 20%;
    margin-right: 20%;
}

.mickiy{
    background-color: rgb(255, 115, 115);
}
.mickiy-font{
    background-color: rgb(255, 255, 146);
}
.kururi{
    background-color: rgb(177, 173, 249);
}
.bunngei{
    background-color: rgb(186, 186, 186); 
}
.kikaku-font1{
    background-color: rgb(255, 255, 255);
}